<div class="col-sm-3 col-md-2 file-resource resource-container">
	<a href="<%- href('files', album.url, file.url) %>" class="thumbnail loading">
		<div class="resource-thumbnail" data-thumbnail="<%- file.thumbnail %>"></div>
		<div class="resource-loader">
			<img src="/public/images/loader.gif">
		</div>
	</a>

	<div class="btn-group resource-dropdown">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-cog"></span>
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu">
			<li><a href="<%- href('files', album.url, file.url) %>">View</a></li>
			<li>
				<a data-bypass href="<%- file.download %>">Download</a>
			</li>
		</ul>
	</div>
</div>
