#albums-container .album-container {
	margin-bottom: 30px;
}
#albums-container .album-container .album-thumbnail-image {
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 25%;
}
#albums-container .album-container .thumbnail {
	cursor: pointer;
	background-color: #f8f8f8;
}
#albums-container .album-container .thumbnail:hover {
	text-decoration: none;
}
#albums-container .album-container .caption h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
