.centered {
	text-align: center;
}

.pull-none {
	float: none !important;
}

.mtm {
	margin-top: 10px;
}
.mtl {
	margin-top: 20px;
}

.mrm {
	margin-right: 10px;
}
.mrl {
	margin-right: 20px;
}

.mbm {
	margin-bottom: 10px;
}
.mbl {
	margin-bottom: 20px;
}

.mlm {
	margin-left: 10px;
}
.mll {
	margin-left: 20px;
}

.navbar-title {
	color: #333;
	margin: 0;
	display: block;
	font-size: 18px;
	line-height: 20px;
	padding: 15px;
}

.resource-container {
	margin-bottom: 30px;
	position: relative;
}
.resource-container .resource-thumbnail-image {
	box-sizing: border-box;
	width: 100%;
	background-color: #e7e7e7;
	background-repeat: no-repeat;
	background-position: 50% 25%;
}
.resource-container .thumbnail {
	background-color: #f8f8f8;
}
.resource-container .thumbnail:hover {
	text-decoration: none;
}
.resource-container .caption h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 4px;
	margin-bottom: 0;
}

.resource-container.album-resource .resource-thumbnail-image {
	height: 200px;
}

.resource-container.file-resource .resource-thumbnail-image {
	height: 155px;
}

.resource-container .resource-dropdown {
	position: absolute;
	top: 5px;
	right: 20px;
}
.resource-container .resource-dropdown .btn {
	padding: 3px 6px;
	font-size: 12px;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.resource-container .resource-dropdown .caret {
	margin-left: 5px;
}

/*.resource-container .resource-counter {
	position: absolute;
	top: 5px;
	left: 20px;

	padding: 3px 10px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #ccc;

	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-right: 10px;
}*/
