.centered {
	text-align: center;
}

.pull-none {
	float: none !important;
}

.mtm {
	margin-top: 10px;
}
.mtl {
	margin-top: 20px;
}

.mrm {
	margin-right: 10px;
}
.mrl {
	margin-right: 20px;
}

.mbm {
	margin-bottom: 10px;
}
.mbl {
	margin-bottom: 20px;
}

.mlm {
	margin-left: 10px;
}
.mll {
	margin-left: 20px;
}

.navbar-title {
	color: #333;
	margin: 0;
	display: block;
	font-size: 18px;
	line-height: 20px;
	padding: 15px;
}

.resource-container {
	margin-bottom: 30px;
	position: relative;
}
.resource-container .resource-thumbnail {
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}
.resource-container .resource-thumbnail img {
	display: block;
}
.resource-container .thumbnail {
	background-color: #f8f8f8;
}
.resource-container .thumbnail:hover {
	text-decoration: none;
}
.resource-container .caption h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 4px;
	margin-bottom: 0;
}

.resource-container .thumbnail.loading .resource-thumbnail {
	display: none;
}
.resource-container .thumbnail.loaded .resource-loader {
	display: none;
}

.resource-container.album-resource .resource-thumbnail {
	height: 200px;
}

.resource-container.file-resource .resource-thumbnail {
	height: 155px;
}

.resource-container .resource-loader {
	height: 155px;
}
.resource-container .resource-loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	width: 32px;
	height: 32px;
}

.resource-container .resource-dropdown {
	position: absolute;
	top: 5px;
	right: 20px;
}
.resource-container .resource-dropdown .btn {
	padding: 3px 6px;
	font-size: 12px;
	border-color: #e7e7e7;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.resource-container .resource-dropdown .btn:hover {
	border-color: #e1e1e1;
}
.resource-container .resource-dropdown .caret {
	margin-left: 5px;
}

/*.resource-container .resource-counter {
	position: absolute;
	top: 5px;
	left: 20px;

	padding: 3px 10px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #ccc;

	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-right: 10px;
}*/
